<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <link rel="stylesheet" type="text/css" href="/static/css/room/room.css">
</head>
<body>
<form method="post" action="">
{%user_info%}
</form>
<div id="room-page">
    <div id="room-frame" class="room-frame">
        <div id="room-show" class="room-show">
            <h1 style="color: white">hello </h1>
        </div>
        <div id="room-input" class="room-input">
            <h1 style="color: white">input</h1>
        </div>
    </div>
</div>
</body>
</html>