<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login/login.css">
</head>

<body>
<div id="login-page">
    <div id="login-logo" class="login-logo">
        <div id="logo" class="logo">
            <img src="/static/image/login/logo.gif" alt="">
        </div>
    </div>
    <div id="login-operations" class="login-operations">
        <div id="login-operation" class="login-operation">
            <form action="" method="post">
                <div id="inputs" class="inputs">
                    <label>
                        <input type="text" class="account-input" name="username" placeholder=" " maxlength="6" autocomplete="off">
                    </label>
                </div>
                <div id="buttons" class="buttons">
                    <label>
                        <input type="submit" class="btn" value="Login">
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>
